/*################################################################################### GENERAL */
body {
	/* padding-top: 110px; */
	background-image: url('../images/met-bg.jpg');
	background-position: right top;
	background-size: auto;
	background-repeat: no-repeat;
	font-family: $roboto;
	color: $gray-body;
	line-height: 1.8em;
	letter-spacing: .02em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media(max-width: 991px) {
		padding-top: 80px;
	}
}
a {
	color: $purple;

	&.reverse {
		&:hover,
		&:focus {
			color: $white;
		}
	}

	&:hover,
	&:focus {
		color: darken($purple, 10%);
	}
}
h1,
.h1 {
	font-size: 45px;
	font-weight: 700;
	color: $gray-dark;

	@media( max-width: 767px ) {
		font-size: 32px;
		word-wrap: break-word;
	}
}
h1.page-title {
	padding-top: 130px;

	@media(max-width: 991px) {

		h1.page-title {
			padding-top: 40px;
		}
	}
}
h2,
.h2 {
	font-size: 30px;
}
h3,
.h3 {
	font-size: 20px;
	font-weight: 400;
	color: $gray-sub;
}
h5,
.h5 {
	font-size: 14px;
	font-weight: 400;
}
.site-section {
	position: relative;
	padding-bottom: 120px;

	@media( max-width: 991px ) {
		padding-bottom: 60px;
	}
}
.lead {
	font-soze: 23px;
	font-weight: 400;
	color: $gray-dark;
}
/* Additional Colors */
.bg-dark {
	background-color: $gray-dark;
}
.bg-light {
	background-color: #EAEAEA;
}
.bg-purple,
.bg-primary, {
	background-color: $purple;
}
.txt-purple {
	color: $purple;
}
.txt-dark {
	color: $gray-dark;
}
.txt-mute {
	color: $gray-mute;
}
.txt-light {
	color: $white;
}
.btn {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
}
.btn-primary {
	box-shadow: none !important;
	background-color: $purple;
	border-color: $purple;
	color: $white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: darken($purple, 10%);
	border-color: darken($purple, 10%);
	color: $white;
}
/* Form */
.form-control {

	border-radius: 0;

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(126,97,248,.25);
		border-color: $purple;
	}
}
.slashes {
	position: absolute;
	width: 100%;
	height: 218px;
	overflow: hidden;
	background-image: url('../images/slashes-repeater.png');
	background-repeat: repeat-x;
}
/*################################################################################### HEADER */
header.site-header {

	padding-top: 60px;

	&.scrolled {

		padding-top: 0px;

		.navbar {
			top: 0px;
			margin-top: 0;
			background: #fff;

			-moz-box-shadow: 0px 1px 2px 0px #ddd;
			-webkit-box-shadow: 0px 1px 2px 0px #ddd;
			box-shadow: 0px 1px 2px 0px #ddd;

			-webkit-transition: all .25s ease;
			-moz-transition: all .25s ease;
			-o-transition: all .25s ease;
			transition: all .25s ease;

		}

	}

	@media( max-width: 991px ) {
		padding-top: 0;
		position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}

}
.navbar {

	top: 0px;
	padding: .5rem 0;

	.navbar-nav {
		margin-left: auto;

		.nav-item {

			.nav-link {
				text-transform: uppercase;
				font-size: 14px;
				color: #333335;
				padding: 5px 15px;
			}

			&.active .nav-link,
			&:hover .nav-link {
				color: $purple;
			}

			@media(max-width: 991px) {

				text-align: center;

				.nav-link {
					font-size: 18px;

					i {
						position: absolute;
						padding-left: 10px !important;
						padding-top: 4px;
					}
				}

			}
		}

		.dropdown-toggle::after {
		    display: none;
		}

		.dropdown-menu {
			left: auto;
			right: 0;
			background-color: $gray-dark;
			border: none;
			border-radius: 0;

			.dropdown-item {
				font-size: 14px;
				color: #B2B2B2;
				text-align: right;

				&:hover {
					color: $purple;
					background-color: transparent;
				}
			}

			@media(max-width: 991px) {

				background-color: $white;
				padding-top: 0;

				.dropdown-item {
					color: #999;
					text-align: center;

					&:hover {
						color: $purple;
						background-color: transparent;
					}
				}
			}
		}

	}


	@media(max-width: 991px) {
		top: 0px;
		margin-top: 0;
		background: #fff;

		-moz-box-shadow: 0px 1px 2px 0px #ddd;
		-webkit-box-shadow: 0px 1px 2px 0px #ddd;
		box-shadow: 0px 1px 2px 0px #ddd;

		.navbar-brand {
			padding: 10px 15px;
		}
	}

}

/*################################################################################### FOOTER */
footer.site-footer {

	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	h5 {
		color: $gray-mute;
		border-bottom: 2px solid #D1D1D1;
		padding-bottom: 10px;
		margin-bottom: 20px
	}

	.nav {

		.nav-link {
			padding: 3px 0;

			i {
				margin-right: 10px;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		&.nav-collaborate {

			.nav-link {

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.copyright {
		border-top: 2px solid #D1D1D1;
		padding-top: 10px;
		color: #B2B2B2;
	}

	@media(max-width:991px) {

		.col-sm-6 {
			margin-bottom: 20px;
		}
	}
}