
/* Fonts */
$roboto: "Roboto", sans-serif, Arial;

/* Colors */
$white: #FFFFFF;
$gray-body: #626262;
$gray-dark: #333335;
$gray-sub: #707070;
$gray-mute: #7C7C7C;
$gray-light: #AFAFAF;
$purple: #7E61F8;